<launch>
  <arg name="map_file" default="$(find me5413_world)/maps/my_map.yaml"/>
  <arg name="rviz_config" default="$(find me5413_world)/rviz/floor1_auto_scan.rviz"/>

  <node name="teleop_twist_keyboard"
        pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        output="screen"
        respawn="true"/>

  <node name="map_server"
        pkg="map_server"
        type="map_server"
        args="$(arg map_file)" />

  <include file="$(find jackal_navigation)/launch/include/amcl.launch" />

  <node pkg="move_base"
        type="move_base"
        name="move_base"
        output="screen"
        clear_params="true">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <param name="planner_frequency" value="1.0"/>
    <param name="controller_frequency" value="8.0"/>
    <param name="planner_patience" value="3.0"/>
    <param name="controller_patience" value="5.0"/>
    <param name="oscillation_timeout" value="8.0"/>
    <param name="oscillation_distance" value="0.20"/>
    <param name="recovery_behavior_enabled" value="true"/>
    <param name="clearing_rotation_allowed" value="true"/>
    <param name="shutdown_costmaps" value="false"/>

    <rosparam command="load" file="$(find me5413_world)/config/nav_costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(find me5413_world)/config/nav_costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(find me5413_world)/config/nav_global_costmap.yaml"/>
    <rosparam command="load" file="$(find me5413_world)/config/nav_local_costmap.yaml"/>
    <rosparam command="load" file="$(find me5413_world)/config/nav_dwa_local_planner.yaml"/>
  </node>

  <rosparam command="load" file="$(find me5413_world)/config/floor1_auto_scan.yaml" ns="floor1_auto_scan"/>

  <node pkg="me5413_world"
        type="floor1_auto_scan.py"
        name="floor1_auto_scan"
        output="screen" />

  <node type="rviz"
        name="rviz"
        pkg="rviz"
        args="-d $(arg rviz_config)"
        output="log"
        respawn="true"/>
</launch>