<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="front_rgbd_link">
    <inertial>
      <mass value="0.20"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0"
               iyy="0.0001" iyz="0"
               izz="0.0001"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.03 0.03"/>
      </geometry>
      <material name="black"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.03 0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="front_rgbd_joint" type="fixed">
    <parent link="front_mount"/>
    <child link="front_rgbd_link"/>
    <origin xyz="0.06 0 0.08" rpy="0 0 0"/>
  </joint>

  <link name="front_rgbd_optical_frame"/>
  <joint name="front_rgbd_optical_joint" type="fixed">
    <parent link="front_rgbd_link"/>
    <child link="front_rgbd_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <gazebo reference="front_rgbd_link">
    <sensor type="depth" name="front_rgbd_sensor">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>15.0</update_rate>

      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>8.0</far>
        </clip>
      </camera>

      <plugin name="front_rgbd_controller" filename="libgazebo_ros_openni_kinect.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>15.0</updateRate>

        <cameraName>front_rgbd</cameraName>
        <frameName>front_rgbd_optical_frame</frameName>

        <imageTopicName>rgb/image_raw</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>

        <pointCloudCutoff>0.10</pointCloudCutoff>
        <pointCloudCutoffMax>8.0</pointCloudCutoffMax>

        <baseline>0.0</baseline>

        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>
